<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/bQXAqRx2Fgc46uCVWgoPz5L5Dtr.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">Black Adam</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span><span clas="rating-value">7.5</span> </span><span>/10</span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        Nearly 5,000 years after he was bestowed with the almighty powers of the Egyptian gods—and imprisoned just as
        quickly—Black Adam is freed from his earthly tomb, ready to unleash his unique form of justice on the modern
        world.
      </div>
    </div>
  </div>
</div>
